<header class="bg-emDark flex items-center justify-between px-6 py-3">
  <div class="relative flex">
    <a href={~p"/"}>
      <img src="/images/gist-logo.svg" alt="logo" class="h-8 w-auto" />
    </a>
  </div>
</header>
